<% content_for :body_id, "class='page_#{@page.id}\'".html_safe %>
<div class="ct">
  <h2><%= @page.content_for(:title) %></h2>

  <%=raw @page.content_for(:body) %>

  <%=raw @page.content_for(:side_body) %>
</div>
